.page1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15vh 1fr 100px;
    grid-template-areas: 'header header' 'title title' 'sc sc';
    height: 100dvh;
    background-size: cover;
    background-position: center center;
}

.page1 h1 {
    grid-area: title;
    color: var(--white);
    text-align: center;
    margin-top: 100px;
    font-size: 6rem;
}
